page-view-note {
  ion-content {
    background: url(../assets/imgs/bg-1.jpeg) no-repeat center fixed;
    background-size: cover;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(top bottom right, #02362c, #003199);
      opacity: 0.3;
    }
  }

  .note-date {
    color: #888;
    font-size: 0.8em;
    margin-bottom: 12px;
  }
}
